/*possible color pallet
/* CSS HEX 
--red-pigment: #ed1c24ff;
--honey-yellow: #fdb833ff;
--dodger-blue: #1789fcff;
--baby-powder: #fbfefbff;
--charcoal: #364156ff; */
#questions {
    display: none;
}
.hide {
    display: none;
}
body {
    background-color: #1789fc;
    color: black;
}
.choices button {
    display: inline-block;
    text-align: center;
    font-weight: 900;
}
#choices {
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#endgame {
    display: none;
}
h1 {
    font-family: 'Bungee Shade', cursive;
    color: black;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-family: 'Bungee Shade', cursive;
}
h3 {
    color: #ed1c24;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}
.col-xs-12, .col-xs-6, .col-xs-4 {
    border: black 8px double;
    border-radius: 25px;
    background-color: #fbfefb;
    font-family: 'Bungee Hairline', cursive;
}
.col-md-6, .col-md-4 {
    border: black 8px double;
    border-radius: 25px;
    font-family: 'Bungee Hairline', cursive;
    background-color: #fbfefb;
}
p {
    font-weight: 900;
}
#time {
    color: black;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 30px;
}
#score {
    color: black;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 30px;
}
#questions {
    padding-bottom: 50px;
}
